.cities-section {
  width: 100%;
  padding: 30px 0 50px;
  background: var(--white-color);
  overflow: hidden;
}

.cities-container {
  width: min(1400px, 92%);
  margin: 0 auto;
}

.cities-title {
  margin: 0;

  text-align: center;

  font-family: var(--font-family);
  font-size: 30px;
  line-height: 1.3;
  font-weight: var(--font-semibold);

  color: #08089a;
}

.cities-description {
  max-width: 1250px;

  margin: 24px auto 60px;

  text-align: center;

  font-family: var(--font-family);
  font-size: 16px;
  line-height: 1.6;
  font-weight: var(--font-regular);

  color: #454545;
}

.cities-grid {
  display: grid;

  grid-template-columns: repeat(4, 1fr);

  gap: 40px;

  align-items: start;
}

.city-card {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
}

.city-image-wrapper {
  width: 185px;
  height: 185px;

  border-radius: 50%;
  overflow: hidden;

  border: 4px solid #e5e5e5;

  box-sizing: border-box;

  background: #f5f5f5;
}


.city-image {
  width: 100%;
  height: 100%;

  display: block;

  object-fit: cover;

  transition: transform 0.4s ease;
}


.city-card:hover .city-image {
  transform: scale(1.05);
}


.city-name {
  margin: 18px 0 9px;

  font-family: var(--font-family);
  font-size: 20px;
  line-height: 1.3;
  font-weight: var(--font-regular);

  color: #0757a0;
}


.city-card .city-description {
  max-width: 310px;

  margin: 0;

  font-family: var(--font-family);
  font-size: 15px;
  line-height: 1.6;
  font-weight: var(--font-regular);

  color: #555555;
}

@media (max-width: 1100px) {

  .cities-title {
    font-size: 28px;
  }

  .cities-description {
    font-size: 15px;
    margin-bottom: 50px;
  }

  .cities-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 50px 30px;
  }

}


@media (max-width: 600px) {

  .cities-section {
    padding: 35px 0 55px;
  }

  .cities-container {
    width: 90%;
  }

  .cities-title {
    font-size: 25px;
    line-height: 1.3;
  }

  .cities-description {
    margin: 18px auto 40px;

    font-size: 14px;
    line-height: 1.6;
  }

  .cities-grid {
    grid-template-columns: 1fr;
    gap: 42px;
  }

  .city-image-wrapper {
    width: 160px;
    height: 160px;
  }

  .city-name {
    margin-top: 17px;
    font-size: 20px;
  }

  .city-card .city-description {
    max-width: 320px;

    font-size: 14px;
    line-height: 1.6;
  }

}

@media (max-width: 380px) {

  .cities-title {
    font-size: 23px;
  }

  .cities-description {
    font-size: 13px;
  }

  .city-image-wrapper {
    width: 150px;
    height: 150px;
  }

  .city-name {
    font-size: 19px;
  }

  .city-card .city-description {
    font-size: 13px;
  }

}